.container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr 352px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background: url(https://wallpaperaccess.com/full/5458.jpg) no-repeat center center;
}

.login-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 425.6px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "login-box"
    ".";
  grid-area: 1 / 2 / 2 / 3;
}

.login-box {
  display: grid;
  grid-template-columns: 1fr 304px 1fr;
  grid-template-rows: 1fr 377.6px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". login-container ."
    ". . .";
  grid-area: login-box;
  background-color: white;
  padding: 24px;
  border-radius: .25rem;
  height: fit-content;
}

.login-container {
  grid-area: login-container;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logo {
  margin-left: 125px;
  margin-bottom: 1 5px;
}

.login-title {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.login-usernamebox {
  padding: 15px 16px;
  margin-bottom: 10px;
  width: 304px;
  border-width: 1px;
  border-color: rgb(137,137,137);
  border-radius: .25rem
}

.login-usernamebox:focus {
  outline-color: #128fdc;
  }

.login-password {
  padding-top: 20px;
}

.login-passwordbox {
  padding: 15px 16px;
  width: 304px;
  border-width: 1px;
  border-color: rgb(137,137,137);
  border-radius: .25rem;
  margin-bottom: 20px;
}

.login-passwordbox:focus {
outline-color: #128fdc;
}

.submitbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 304px;
  height: 40px;
  color: white;
  background-color: #128fdc;
  font-size: 16px;
  font-weight: 600;
  border: #128fdc;
  border-radius: .25rem;
  margin-bottom: 25px;
}

.login-signuptext {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-signup {
  text-decoration: none;
  color: #006dac;
}

.demo {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.demo-button {
  text-decoration: none;
  margin-left: 4px;
  color: #006dac;
}
