.nav-container {
    position: fixed;
    z-index: 10;
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 48px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navigation navigation navigation";
    background-color: rgb(33, 33, 33);
  }

.navigation {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 48px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". nav-content .";
    grid-area: navigation;
    width: 100vw;
  }

.nav-content {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 98px 1fr 196px;
    grid-template-rows: 48px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-logopic . nav-buttons";
    grid-area: nav-content;
}

.nav-logo{
    display: flex;
    align-items: flex-end;
}

.nav-logopic {
    height: 21.61px;
    padding-left: 0px;
    grid-area: nav-logopic;
    margin-right: 40px;
}

.nav-exploreyou {
    display: flex;
}

.nav-explore {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

.nav-profile {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.nav-buttons {
    grid-area: nav-buttons;
}

.nav-loginsign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-signup {
    padding: 4px 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.nav-login {
    padding: 4px 10px;
    text-decoration: none;
    background-color: #128fdc;
    border-radius: .25rem;
    color: white;
}

.profilebutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fas.fa-user-circle{
    font-size: 24px;
    color: white;
}

.profile-dropdown {
    position: absolute;
    z-index: 2006;
    width: 300px;
    margin-top: 165px;
    padding: 13px 13px 13px 13px;
    background-color: white;
    color: black;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 30%), 0 1px 4px 0 rgb(0 0 0 / 20%);
}

.profile-username {
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-linebreak1 {
    height: 1px;
    background-color: #E1E1E1;
    border: none;
}

.profile-cs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-contactus {
    font-size: 15px;
    text-decoration: none;
    color: #212121;
}

.profile-logout {
    font-size: 15px;
    text-decoration: none;
    color: #212121;
}
